# Tourism

In [1]:
import pandas as pd

from summary.tourism import TourismSummary
from summary.utils import median_ensemble

summary = TourismSummary()
group_tsg = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/group-tsg')), 
                        index=['group_tsg'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_interpretable')), 
                             index=['interpretable'])
generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_generic')), 
                       index=['generic'])

ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_*')), 
                        index=['ensemble'])

pd.concat([group_tsg, interpretable, generic, ensemble])

/experiment/datasets/tourism.py:117: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values=np.array(values))
100%|██████████| 60/60 [00:00<00:00, 111.14it/s]
100%|██████████| 60/60 [00:00<00:00, 117.08it/s]
100%|██████████| 60/60 [00:00<00:00, 134.92it/s]
100%|██████████| 120/120 [00:00<00:00, 167.86it/s]

               Yearly  Quarterly  Monthly  Average
group_tsg       23.05      14.80    19.54    18.91
interpretable   21.24      15.36    19.97    19.05
generic         21.48      14.90    19.44    18.65
ensemble        21.33      14.99    19.46    18.67

# Small ensemble(1 repeat)

In [2]:
summary = TourismSummary()
group_tsg = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/group-tsg', 
                                                         summary_filter='repeat=0*')), 
                        index=['group_tsg'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_interpretable',
                                                             summary_filter='repeat=0*')), index=['interpretable'])

generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_generic',
                                                             summary_filter='repeat=0*')), index=['generic'])


ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_*',
                                                        summary_filter='repeat=0*')), 
                        index=['ensemble'])

pd.concat([group_tsg, interpretable, generic, ensemble])

/experiment/datasets/tourism.py:117: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values=np.array(values))
100%|██████████| 6/6 [00:00<00:00, 168.39it/s]
100%|██████████| 6/6 [00:00<00:00, 109.26it/s]
100%|██████████| 6/6 [00:00<00:00, 167.57it/s]
100%|██████████| 12/12 [00:00<00:00, 173.41it/s]

               Yearly  Quarterly  Monthly  Average
group_tsg       23.19      14.72    19.59    18.95
interpretable   21.22      15.53    20.28    19.28
generic         21.44      15.12    19.77    18.90
ensemble        21.27      15.11    19.60    18.77

In [3]:
summary = TourismSummary()
group_tsg = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/group-tsg', 
                                                         summary_filter='repeat=9*')), 
                        index=['group_tsg'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_interpretable',
                                                             summary_filter='repeat=9*')), index=['interpretable'])

generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_generic',
                                                             summary_filter='repeat=9*')), index=['generic'])


ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_*',
                                                        summary_filter='repeat=9*')), 
                        index=['ensemble'])

pd.concat([group_tsg, interpretable, generic, ensemble])

/experiment/datasets/tourism.py:117: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values=np.array(values))
100%|██████████| 6/6 [00:00<00:00, 182.49it/s]
100%|██████████| 6/6 [00:00<00:00, 165.40it/s]
100%|██████████| 6/6 [00:00<00:00, 173.12it/s]
100%|██████████| 12/12 [00:00<00:00, 174.73it/s]

               Yearly  Quarterly  Monthly  Average
group_tsg       22.89      14.87    19.47    18.87
interpretable   21.52      15.39    20.64    19.51
generic         21.40      14.93    19.52    18.70
ensemble        21.42      14.97    19.75    18.85